@font-face {
  font-family: 'BrittanySignature';
  src: URL('/fonts/BrittanySignature.ttf') format('truetype');
}

@font-face {
  font-family: 'IbarraRealNova-Regular';
  src: URL('../../fonts/IbarraRealNova-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'IbarraRealNova-Bold';
  src: URL('../../fonts/IbarraRealNova-Bold.ttf') format('truetype');
}